html {
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

* {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    border: 0;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

a {
    text-decoration: none;
    outline: none;

    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
        outline: none;
    }
}

select,
button,
input[type="text"],
input[type="email"],
input[type="button"],
input[type="submit"] {
    -webkit-appearance: none; /* Safari */
    -moz-appearance: none; /* Fire Fox */
    text-indent: 1px;
    text-overflow: '';
    background-color: transparent;
    border: none;
    @extend %extend-border-radius-none;
    outline: none;
}

/* For IE - Removes Select arrow on IE */
select::-ms-expand {
    display: none;
}

/******/

iframe {
    border: none;
    width: 100%;
}
main {
    height: auto;
}
/******/

// main {
//     margin-top: 110px;
//     min-height: 70vh;

//     @media (max-width: 1200px) {
//         margin-top: 59px;
//     }

//     > .section__layer-iamge {
//         display: none;
//     }
// }

/******/

code {
    width: 100%;
    display: block;
    overflow-x: auto;
    overflow-y: hidden;
}

img {
    width: auto;
}

a,
img,
input,
select,
textarea,
button {
    outline: 0 !important;
}

.fw-divider-line {
    width: 100%;

    hr {
        display: inline-block;
        width: 100%;
        margin-top: 3px;
        margin-bottom: 15px;
    }
}

.fancybox-container {
    .fancybox-inner {
        .fancybox-toolbar .fancybox-button--close {
            &:hover {
                background-color: #000000;
            }
        }
    }
    
}
// from submit.php __
// .modal-backdrop {
//     z-index: -1;
// }

.modal-open {
    .modal {
        background-color: #22373fba;
    }
}

@media(max-width:768px) {
    .modal-dialog {
        max-width: 700px;
    }
}

main {
    background-color: #fff;
}


   