//====================================

//  Body  and paragaraph fonts
//  Heading
//  List elements

//===================================

//
//  Body  and paragaraph fonts
//  __________________________

body p {
	@extend %extend_ff_base;
	font-weight: $font-regular;
	color: var(--black-olive);
}

body p {
	font-size: $font-size-body-para;
	line-height: $line-height-body-para;
}

p {
	margin: 0 0 20px;
}

@media (max-width: 678px) {
	body,
	body p {
		font-size: $mobile-font-size-body-para;
		line-height: $mobile-line-height-body-para;
	}

	p {
		margin: 0 0 15px;
	}
}

//
//  Heading
//  ___________

h1,
h2,
h3 {
	@extend %extend_ff_base;
	font-weight: $font-medium;
	color: var(--white);
	opacity: 0.9;
}

h4,
h5,
h6 {
	@extend %extend_ff_base;
	font-weight: $font-medium;
	margin: 0 0 8px;
	color: var(--white);
	opacity: 0.9;
}

ul {
	@include element-margin(0 0 30px 0);
	li {
		color: var(--white);
		font-size: $font-list-type;
		font-weight: $font-medium;
		@include element-padding(3px 15px);
		opacity: 0.8;
		@extend %extend-transition-3ms;
		&:hover {
			cursor: pointer;
			background-color: var(--border-color);
		}
	}
}

// h1___

h1 {
	margin: 0 0 20px;
	font-size: $font-size-h1;
	line-height: $line-height-h1;
}

@media (max-width: 678px) {
	h1 {
		font-size: $mobile-font-size-h1;
		line-height: $mobile-line-height-h1;
	}
}

// h2___

h2 {
	margin: 0 0 20px;
	font-size: $font-size-h2;
	line-height: $line-height-h2;
}

@media (max-width: 678px) {
	h2 {
		font-size: $mobile-font-size-h2;
		line-height: $mobile-line-height-h2;
	}
}

// h3___

h3 {
	font-size: $font-size-h3;
	line-height: $line-height-h3;
}

@media (max-width: 678px) {
	h3 {
		font-size: $mobile-font-size-h3;
		line-height: $mobile-line-height-h3;
	}
}

// h4___

h4 {
	font-size: $font-size-h4;
	line-height: $line-height-h4;
}

@media (max-width: 678px) {
	h4 {
		font-size: $mobile-font-size-h4;
		line-height: $mobile-line-height-h4;
	}
}

// h5 ___

h5 {
	font-size: $font-size-h5;
	line-height: $line-height-h5;
}

@media (max-width: 678px) {
	h5 {
		font-size: $mobile-font-size-h5;
		line-height: $mobile-line-height-h5;
	}
}

// h6 ___

h6 {
	font-size: $font-size-h6;
	line-height: $line-height-h6;
}

@media (max-width: 678px) {
	h6 {
		font-size: $mobile-font-size-h6;
		line-height: $mobile-line-height-h6;
	}
}
