//
//  Base colors Pallets
//  _____________________________________________

// color variable map
$colors: (
  // non-nested 
  --white: #fff,
  --bright-grey: #5A5D62,
  --comet: #5B5B64,
  --bunker: #23282E,
  --ebony: #2C2F34,
  --black: #000,
  --doger-blue: #3887FD,
  --border-color: rgba(255, 255, 255, 0.185),
  
  button: (

    primary-bg: #5A5D62, 
	primary-border: #5A5D62,
	primary-font-color: #fff,

	secondary-bg: #fff,
	tertiary-bg: #b9a761,
  ),

  inputs-default: (
	border-color-default: rgba(255, 255, 255, 0.185),
  ),

  inputs-focus: (
	border-color-focus: #fff,
  )

);


//
//  Font families
//  _____________________________________________

	$font_family_base : 'SF Pro', sans-serif;
//
//  Font weights
//  _____________________________________________

	$font-light : 300 ;
	$font-regular : 400 ;
	$font-medium : 500 ;
	$font-semi-bold : 600;
	$font-bold : 700 ;

//
//  Font sizes
//  _____________________________________________

// View port above 678px ___

	$font-size-h1 : 36px;
	$font-size-h2 : 32px;
	$font-size-h3 : 28px;
	$font-size-h4 : 22px;
	$font-size-h5 : 20px;
	$font-size-h6 : 16px;

	$font-list-type: 18px;

	$font-size-body-para : 16px;

	$font-size-primary-button : 18px;

// View port below 678px ___

	$mobile-font-size-h1 : 27px;
	$mobile-font-size-h2 : 24px;
	$mobile-font-size-h3 : 22px;
	$mobile-font-size-h4 : 20px;
	$mobile-font-size-h5 : 18px;
	$mobile-font-size-h6 : 14px;

	$font-list-type: 16px;

	$mobile-font-size-body-para : 14px;

	$mobile-font-size-primary-button : 16px;

//
//  Line heights
//  _____________________________________________



// View port above 678px ___

	$line-height-h1 : inherit;
	$line-height-h2 : inherit;
	$line-height-h3 : inherit;
	$line-height-h4 : inherit;
	$line-height-h5 : inherit;
	$line-height-h6 : inherit;

	$line-height-body-para : inherit;

// View port below 678px ___

	$mobile-line-height-h1 : inherit;
	$mobile-line-height-h2 : inherit;
	$mobile-line-height-h3 : inherit;
	$mobile-line-height-h4 : inherit;
	$mobile-line-height-h5 : inherit;
	$mobile-line-height-h6 : inherit;

	$mobile-line-height-body-para : inherit;
