// margin and padding __
@mixin element-margin-padding( $margin, $padding){
	margin: $margin;
	padding: $padding;
}

// margin __
@mixin element-margin( $margin){
	margin: $margin;
}

// padding __
@mixin element-padding( $padding){
	padding: $padding;
}
