.osx-contact {
    height: 100vh;
    background-image: url(/assets/images/main-bg.jpg);
    @extend %extend_common_background_prperties;
    background-repeat: no-repeat;

    &__main-nav,
    &__list,
    &__details {
        @include element-padding( 25px 15px);
    }

    // OSX Main Nav__
    &__main-nav {
        border-right: 2px solid var(--black);
        h4 {
            color: var(--white);
            @include element-margin(0 0 20px 0);
        }
        h6 {
            @include element-margin(0 0 15px 0);
            opacity: 0.7;
        }
    }

    // OSX Contact List__
    &__list {
        border-right: 2px solid var(--black);
        background-color: var(--bunker);
        .form-control {
            @include element-margin(0 0 25px 0);
        }
        &__item {
            h6 {
                border-bottom: 1px solid var(--border-color);
                @include element-padding( 0 0 5px 0);
                @include element-margin(0 0 20px 0);
                opacity: 0.7;
            }
        }
    }

    // OSX Contact Details__
    &__details {
        background-color: var(--bunker);
        @include element-padding( 30px 50px);
        position: relative;
        .contact {
            display: flex;
            @include element-margin(0 0 40px 0);
            &__name {
                h5 {
                    @include element-margin(0);
                }
            }
            &__img {
                max-width: 80px;
                border-radius: 50%;
                @include element-margin(0 15px 0 0);
            }

            &__details {
                hr {
                    border-top-color: var(--border-color);
                    @include element-margin(5px 0);
                }
                li {
                    display: flex;
                    color: var(--white);
                    span {
                        &:first-child {
                            display: inline-block;
                            min-width: 100px;
                            text-align: right;
                            color: var(--bright-grey);
                            @include element-margin(0 10px 0 0);
                        }
                    }
                    &:hover {
                        background-color: transparent;
                    }
                }
                &--new {
                    .contact__name {
                        input {
                            @include element-margin(0);
                        }
                    }
                    input, textarea {
                        height: auto;
                        border: none;
                        @include element-padding(0);
                        &:focus {
                            border: none;
                        }
                    }
                    li {
                        span {
                            &:first-child {
                                color: var(--doger-blue);
                            }
                        }
                    }
                    textarea {
                        @include element-padding(2px 0 0 0);
                    }
                }
            }
        }

        // CTA section__
        .action-toolbar {
            position: absolute;
            bottom: 20px;
            display: flex;
            justify-content: space-between;
            left: 0;
            width: 100%;
            @include element-padding(0 50px);
            &__left-wrap {
                display: flex;
                .btn {
                    &:last-child {
                        @include element-margin(0 0 0 10px);
                    }
                }
            }
            .btn--primary {
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    max-width: 18px;
                }
                &.btn-plus {
                    position: relative;
                    img {
                        max-width: 15px;
                    }
                }
            }
        }
    }
}
