<main>
  <section class="container-fluid">
    <div class="row osx-contact">

      <!-- Main OSX Contact Nav -->
      <nav class="osx-contact__main-nav col-md-2">
        <h4>All Contacts</h4>
        <h6>iCloud</h6>
        <ul>
          <li>All iCloud</li>
          <li>My Contacts</li>
          <li>Coworkers</li>
          <li>Friends</li>
          <li>Family</li>
        </ul>
        <h6>On My Mac</h6>
        <ul>
          <li>All on My Mac</li>
        </ul>
      </nav>

      <!-- OSX Contact List -->
      <div class="osx-contact__list col-md-3">
        <div class="form-control">
          <input type="search" placeholder="Search">
        </div>
        <div class="osx-contact__list__item">
          <h6>A</h6>
          <ul>
            <li *ngFor="let name of contacts">{{name}}</li>
          </ul>
        </div>
      </div>

      <!-- OSX Contact Details -->
      <div class="osx-contact__details col-md-7">

        <ng-container *ngTemplateOutlet="templateView"></ng-container>

        <ng-template #profileDetailsInfo>
          <div class="contact">
            <img src="/assets/images/profile-1.png" alt="" class="contact__img">
            <div class="contact__name">
              <h5>Atticus Abishag</h5>
              <h6>Company ABC</h6>
            </div>
          </div>
          <div class="social-icon__wrap">
            <div class="social-icon__item">
              <div class="social-icon__item__image-wrap">
                <img src="../assets/images/icons/message-icon_.svg" alt="">
              </div>
              <h6>message</h6>
            </div>
            <div class="social-icon__item">
              <div class="social-icon__item__image-wrap">
                <img src="../assets/images/icons/phone-call-icon.svg" alt="">
              </div>
              <h6>call</h6>
            </div>
            <div class="social-icon__item">
              <div class="social-icon__item__image-wrap">
                <img src="../assets/images/icons/video-camera-icon.svg" alt="">
              </div>
              <h6>FaceTime</h6>
            </div>
            <div class="social-icon__item">
              <div class="social-icon__item__image-wrap">
                <img src="../assets/images/icons/email-icon.svg" alt="">
              </div>
              <h6>mail</h6>
            </div>
          </div>

          <ul class="contact__details">
            <li><span>mobile</span> <span>+94 123 4567</span></li>
            <li><span>home</span> <span>+011 123 4567</span></li>
            <hr>
            <li><span></span> <span>FaceTime</span></li>
            <hr>
            <li><span>note</span><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua</span></li>
          </ul>
        </ng-template>

        <ng-template #profileDetailsNew>
          <ul class="contact__details contact__details--new">
            <div class="contact">
              <img src="/assets/images/Placeholder-img.png" alt="" class="contact__img">
              <h5 class="contact__name">
                <input type="text" placeholder="Enter Name" [(ngModel)]="contactName">
                <input type="text" placeholder="Company Name">
              </h5>
            </div>

            <div class="btn-group">
              <a href="#" class="active">Info</a>
              <a href="#">Picture</a>
            </div>
            <li><span>mobile</span> <input type="number" placeholder="Phone"></li>
            <hr>
            <li><span>home</span> <input type="number" placeholder="Home"></li>
            <hr>
            <li><span>address</span> <input type="text" placeholder="Address"></li>
            <hr>
            <li><span>note</span><textarea name="" id="" cols="30" rows="10" placeholder="Note"></textarea></li>
          </ul>
        </ng-template>

        <div class="action-toolbar">
          <button class="btn btn--primary btn-plus" (click)="togglePopover($event)"><img
              src="../assets/images/icons/plus.svg" alt="">
            <ul class="popover" [ngStyle]="{ 'display': addPopoverToggle?'block':'none' }">
              <li (click)="showNewProfileDetails()">New Contact</li>
              <li>New Group</li>
              <hr>
              <li>Add Field to Card:</li>
              <li>Phone</li>
              <li>Email</li>
              <li>Birthday</li>
              <li>Address</li>
              <li>Profile</li>
              <li>More Fields</li>
            </ul>
          </button>

          <div class="action-toolbar__left-wrap">
            <button class="btn btn--primary" (click)="onSave()">{{ isNewContact ? "Done" : "Edit"}}</button>
            <button class="btn btn--primary"><img src="../assets/images/icons/upload.svg" alt=""></button>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>