//
//  Cretae extends for common background properties
//  __________________________________
%extend_common_background_prperties {
    background-size: cover;
    background-position: center;
}

//
//  Cretae extends for select dropdown
//  __________________________________
%extend_search_icon {
    background-image: url(/assets/images/icons/search-icon.svg);
    background-repeat: no-repeat;
}
