%extend-border-radius-none {
	border-radius:  0; 
	-moz-border-radius: 0;  
	-webkit-border-radius:  0;  
}


%extend-border-radius-4 {
	border-radius:  4px; 
	-moz-border-radius: 4px;  
	-webkit-border-radius:  4px;  
}

%extend-border-radius-8 {
	border-radius:  8px; 
	-moz-border-radius: 8px;  
	-webkit-border-radius:  8px;  
}

%extend-border-radius-20 {
	border-radius:  20px; 
	-moz-border-radius: 20px;  
	-webkit-border-radius:  20px;  
}