//  Create transions with time
//  __________________________

%extend-transition-none {
	transition:  none;
	-moz-transition:  none;
	-webkit-transition:  none;
}

%extend-transition-2ms {
	@include transition(0.2s , ease, all);
}

%extend-transition-3ms {
	@include transition(0.3s , ease, all);
}

%extend-transition-4ms {
	@include transition(0.4s , ease, all);
}