// Buttons__
.btn {
  display: block;
  font-weight: $font-regular;
  color: var(--white);
  padding: 2px 24px;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  @extend %extend-border-radius-4;
  @extend %extend-transition-3ms;
  text-decoration: none;

  &:focus,
  &:active,
  &:visited {
    box-shadow: none;
    text-decoration: none;
  }

  &:hover {
    cursor: pointer;
  }

  // primary button
  &--primary {
    background-color: var(button,primary-bg);
    color: var(button,primary-font-color);
    
    &:hover {
      background-color: darken(var(button,primary-bg), 10%);
    }
  }

}

.btn-group {
  display: flex;
  justify-content: center;
  margin: 30px 0;
  a {
    @extend %extend-transition-3ms;
    display: inline-block;
    padding: 2px 60px;
    border-radius: 20px 0 0 20px;
    background-color: #3C3C3B;
    color: var(--white);
    &:hover,
    &.active {
      background-color: #8B8B89;
    }
    &:last-child {
      border-radius: 0 20px 20px 0;
    }
  }
}