// Input elements __

input[type="text"],
input[type="password"],
input[type="url"],
input[type="tel"],
input[type="search"],
input[type="number"],
input[type="datetime"],
input[type="email"],
select,
textarea {
    width: 100%;
    padding-left: 18px;
    padding-right: 18px;
    font-weight: normal;
}

input[type=number] {
    &::-webkit-inner-spin-button{ 
        display: none; 
    }
   -moz-appearance:textfield;
  }

input[type="text"],
input[type="password"],
input[type="url"],
input[type="tel"],
input[type="search"],
input[type="number"],
input[type="datetime"],
input[type="email"],
select,
textarea {
    min-width: 1px;
    border-radius: 4px;
    border: 1px solid var(inputs-default, border-color-default);
    background-color: transparent;
    box-shadow: none;
    color: darken(var(--white), 20%);
    font-size: 16px;
    line-height: 1.38;
    outline: 0 !important;
    @extend %extend-transition-3ms;

    &:focus {
        color: var(inputs-focus, font-color-focus);
        border: 1px solid var(inputs-focus, border-color-focus);
        box-shadow: none;
    }
}

input[type="text"],
input[type="password"],
input[type="url"],
input[type="tel"],
input[type="search"],
input[type="number"],
input[type="datetime"],
input[type="email"],
select {
    height: 40px;
}

input[type="search"] {
    @extend %extend_search_icon;
    background-position: left 15px center;
    background-size: 20px;
    background-color: var(--ebony);
    border-color: var(inputs-default, border-color-default);
    padding-left: 45px;
}
// Textarea ___
textarea {
    resize: none;
    height: 50px;
    padding: 12px 18px;
}
