// Popover Component__
.popover {
    background-color: var(--ebony);
    position: absolute;
    bottom: 35px;
    text-align: left;
    left: 0;
    z-index: 1;
    width: 250px;
    @include element-padding(20px 0);
    @include element-margin(0);
    @extend %extend-border-radius-4;
    border: 1px solid var(--border-color);
    li {
        @include element-padding(0 30px);
        @extend %extend-transition-3ms;
        &:hover {
            color: darken(var(--white), 30%);
        }
    }
    hr {
        @include element-margin(10px 0);
        border-top-color: var(--border-color) ;
    }
}