// Social Icons__
.social-icon {
    &__wrap {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
    &__item {
        text-align: center;
        margin: 0 20px;
        &__image-wrap {
            background-color: var(--comet);
            border-radius: 50%;
            height: 40px;
            width: 40px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 10px;
            @extend %extend-transition-3ms;
            &:hover {
                cursor: pointer;
                background-color: lighten(var(--comet), 10%);
            }
        }
        img {
            max-width: 20px;
        }
    }
}